<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AlreySolutions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>

<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  <BypassIf Property="CRRuntime64Version" Compare="VersionGreaterThanOrEqualTo"  Value="13.0.8"/>
</startup>
    <userSettings>
        <AlreySolutions.Properties.Settings>
            <setting name="TIN" serializeAs="String">
                <value />
            </setting>
            <setting name="Address2" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintVat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dbConnectionString1" serializeAs="String">
                <value>SERVER=localhost;DATABASE=posdbcottest;UID=admin;</value>
            </setting>
            <setting name="Logos" serializeAs="String">
                <value>Logo.png</value>
            </setting>
            <setting name="AdminPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Message3" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintTIN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Company" serializeAs="String">
                <value />
            </setting>
            <setting name="Address1" serializeAs="String">
                <value />
            </setting>
            <setting name="Message1" serializeAs="String">
                <value>Thank you very much!</value>
            </setting>
            <setting name="Message2" serializeAs="String">
                <value>Please come again...</value>
            </setting>
            <setting name="PrintMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RequireCustomerName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InterestRate" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="AddInvCalibrate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>POSdb.mdb</value>
            </setting>
            <setting name="ServerPath" serializeAs="String">
                <value>D:\03. Development\Local Dev\PointOfSales\Hardware_v1.10_AlamadaCoop\Kawayanan\bin\Debug\</value>
            </setting>
            <setting name="MaxPercentDiscount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="VatPercentage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ContactNum" serializeAs="String">
                <value>09175587982
                </value>
            </setting>
            <setting name="PrintORBarcode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Theme1" serializeAs="String">
                <value>-15443436,-1,-16119286,-1,-13676721,-1,-13676721,-1,-2302756,-16777216</value>
            </setting>
            <setting name="Theme2" serializeAs="String">
                <value>-15790321,-1,-16777165,-65408,-16634257,-1,-16777165,-1,-16777216,-65408</value>
            </setting>
            <setting name="Theme3" serializeAs="String">
                <value>-38476,-16777216,-60269,-16777216,-65281,-1,-16181,-16777216,-1,-16777216</value>
            </setting>
            <setting name="Theme4" serializeAs="String">
                <value>-14803426,-1,-13296896,-32704,-7715584,-1,-12574720,-1,-32768,-16777216</value>
            </setting>
            <setting name="Theme5" serializeAs="String">
                <value>-14211289,-16744193,-15987700,-16744965,-15329770,-1,-15000805,-1,-16777216,-16744193</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>c:\backup</value>
            </setting>
            <setting name="PrintDuplicate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowReceipt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadBtnSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxLoadBtnCnt" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CashInSvc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CashOutSvc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendToOthersSvc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntCashPickUpSvc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DomCashPickupSvc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemitSendSvc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemitCancelSvc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CashInRebate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CashOutRebate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendToOthersRebate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntCashPickUpRebate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DomCashPickupRebate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemitSendRebate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemitCancelRebate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChargeServiceFeeOnCancelRemittance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartPadalaSendSvc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartPadalaSendRebate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartPadalaIncashRebate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartPadalaIncashSvc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadWalletDiscount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GCashResetAmount" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="EnablePrint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmPrint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeaderFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="NormalFontSize" serializeAs="String">
                <value>15</value>
            </setting>
        </AlreySolutions.Properties.Settings>
    </userSettings>
  
</configuration>
